/bin/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath

cp.txt